*.desktop
*.desktop.lock
.hl-save
.org-id-locations
.projectile
abbrev_defs
anaconda-mode/
bm-repository
bookmarks
elfeed_db*/
elpa_[2-9]*/
elpy/
emojis/
eshell/
folds-saved
hl-save
ido.last
keyfreq
mc-lists
patch/
places
projectile-bookmarks.eld
recentf
request/
server*/
smex-items
snippets/
tramp
transient/
url*/
yasnippets-quartus/
