abbrev_defs
elfeed_db*/
elpa_[2-9]*/
folds-saved
keyfreq
smex-items
mc-lists
projectile-bookmarks.eld
server*/
*.desktop
*.desktop.lock
hl-save
places
recentf
snippets/
patch/
bm-repository
anaconda-mode/
ido.last
bookmarks
eshell/
tramp
url*/
transient/
.hl-save
elpy/
